<% include ../partials/profileHeader%>
<div class="headerimg">
  <img class="imghead" src="\default\topography.jpg" >
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <%if(trying[trying.length-1].profilImg===null){%>
              <img class="photoProfileOne" src= "\default\avatar.jpg"   />
        <%}else{%>
            <img class="photoProfileOne" src="\uploads\<%=trying[trying.length-1].profilImg%>" />
          <%}%>
        <form action="/profile" method="POST"enctype="multipart/form-data">
          <div class="form-group upload-area">
            <label for="exampleFormControlFile1">upload</label>
            <input type="file" name="profilImg" class="form-control-file" id="exampleFormControlFile1">
            <button>upload</button>
          </div>
        </form>
    </div>
  </div>
</div>
<% find.forEach(function(profile){%>
  <div class="profileCards">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="oneCard">

                <h3><%= profile.title %></h3>
                <div >
                  <img src="/uploads/<%=profile.image%>"/>
                </div>
                <div class="profileText">
                  <%=profile.text %>
                </div>
                  <a  href="/bikes/<%=profile._id%>">Show more</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  <%}) %>

<% include ../partials/footer%>
