<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Bikes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/app.css">
    <link rel="stylesheet" href="/stylesheet/budget.css">
    <link rel="stylesheet" href="/stylesheet/jquery.counterup.min">
    <link rel="stylesheet" href="mobirise/style.css">
    <link rel="stylesheet" href="/stylesheet/icons/icofont/icofont.min.css">
<link href="https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow:600&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=News+Cycle&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
      <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
      <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">
  </head>
  <body>



    <div class="itemforcover">
      <div class="forCover">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/bikes/all/1">Bikes</a>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/all">Budget</a></li>
              <li><a href="/chat">Chat</a></li>
              <li><a href="/bikes/new">New Post</a></li>
              <li><a href="/forum">Forum</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){ %>
              <li><a href="/login">Log in</a></li>
              <li><a href="/register">Sign up</a></li>
            <% }else{%>
              <li><a href="/profile">Sign In As <%= currentUser.name %></a></li>
              <li><a href="/logout">Log out</a></li>
            <% }%>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
    <%  if(error && error.length>0) {%>
          <div class="alert alert-danger" role="alert"><%= error %></div>
    <% }%>
    </div>
    <div class="container">
      <%  if(success && success.length>0) {%>
          <div class="alert alert-success" role="alert"><%= success %></div>
      <% }%>


  </div>
  <div class="iconBud">
    <i class="icofont-coins"></i>
  </div>

    <% if(usr >0){%>

      <div class="numOne">
        +<span class="num"><%= usr %></span>
      </div>
  <%}else if(usr<0){%>
    <div class="numMinus">
      <span class="num minus"><%= usr %></span>
    </div>
  <%}else{%>
    <div class="ziro">
      0
    </div>
  <%}%>
  <div class="totalDesc">
    <p>total</p>
  </div>
  <script type="text/javascript">
    $(".num").counterUp({delay:10,time:1000})
  </script>
  </div>
</div>

  <script type="text/javascript" src="/stylesheets/app.js"></script>
  <script type="text/javascript" src="/stylesheets/appone.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js" ></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
